FunkcijskoProgramiranje/predavanja/*.pdf
sml.json
node_modules/.lsp/debug.log
ObdelavaBiomedicinskihSignalovInSlik/seminarska1/*.asc
ObdelavaBiomedicinskihSignalovInSlik/seminarska1/*.mat
ObdelavaBiomedicinskihSignalovInSlik/predavanja/*.pdf
FunkcijskoProgramiranje/predavanja/P05_map-filter-fold,doseg,currying.pdf
ObdelavaBiomedicinskihSignalovInSlik/seminarska1/*.atr
ObdelavaBiomedicinskihSignalovInSlik/seminarska1/*.det
ObdelavaBiomedicinskihSignalovInSlik/seminarska1/*.qrs
ObdelavaBiomedicinskihSignalovInSlik/seminarska1/*.hea
ObdelavaBiomedicinskihSignalovInSlik/seminarska1/detections
FunkcijskoProgramiranje/predavanja/stari_izpiti_in_kolokviji_2013-2018/*.pdf
