FunkcijskoProgramiranje/predavanja/*.pdf
sml.json
node_modules/.lsp/debug.log
ObdelavaBiomedicinskihSignalovInSlik/seminarska1/*.asc
ObdelavaBiomedicinskihSignalovInSlik/seminarska1/*.mat
ObdelavaBiomedicinskihSignalovInSlik/predavanja/*.pdf
FunkcijskoProgramiranje/predavanja/P05_map-filter-fold,doseg,currying.pdf
